extend layout
block content
  script.
    window.onload = function() {
      var text = [
        ["^1000cd #{query}"],
        ["^1000cd ~/navigation"],
        ["^1000ls"]
      ];
      var print = [
        `
          <br>
          -bash: cd: #{query}: No such file or directory
          <br><br>
          <span>root@#{domain} blog$</span> <span id="line2" style="white-space:pre;"></span>
        `,
        '<br><span>root@#{domain} navigation$</span> <span id="line3" style="white-space:pre;"></span>',
        `!{navigation}`
      ];
      type(0, text, print);
    };
